<div id='show-question'>
  <h1> <%=@question.title %> </h1>
  <h3> Written by: <%=@question.author_username%> on <%=long_form_date(@question.updated_at)%> </h3>
  <h2> <%=@question.content %> </h2>
  <% if @question.user == current_user %>
      <li><%= link_to 'Edit Question', edit_question_path(@question) %></li>
      <li><%= link_to 'Delete Question', question_path(@question),
          method: :delete,
          data: {confirm: 'Are you sure you want to delete this question?'} %></li>
    <% end %>
</div>

<h3> Existing Comments </h3>
<div id='show-comments'>
  <% @comments.each do |comment| %>
    <ul class='comment'>
      <li><%=comment.content%></li>
      <li>Written by: <%=comment.commenter_username%> on <%= long_form_date(comment.updated_at)%></li>
    </ul>
  <% end %>
</div>

<h3>Add a comment</h3>
<%= render partial: "./comments/new", layout: false, locals: {question: @question, comment: @comment} %>

<h3> Existing Answers </h3>
<div id='show-answers'>
  <% @answers.each do |answer| %>
    <ul class='answer'>
      <li><%=answer.content%></li>
      <li> Written by: <%=answer.author_username%> on <%=long_form_date(answer.updated_at)%> </li>
    </ul>
  <% end %>
</div>

<h3>Add an answer</h3>
<%= render partial: "./answers/new", layout: false, locals: {question: @question, answer: @answer} %>
